@model GameLogin.Models.GameLogin.Admin
@{
    ViewBag.Title = "Home";
    var expiryDays = @Model.ExpiryDate.Subtract(DateTime.Now).TotalDays;
}

<div style="width:100%; background-color:#1e1e1e;">
    <div>
        <table style="margin-left:auto; margin-right:auto">
            <tr>
                <td style="padding:23px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ADMIN", "Home", "Admins", null, new {style = "color:white"})</a></td>
                <td style="padding:23px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("SYSTEM", "System", "Admins", null, new { style = "color:white" })</a></td>
                <td style="padding:23px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("EDIT PLAYER", "Index", "Players", null, new { style = "color:white" })</a></td>
                <td style="padding:23px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ADD PLAYER", "Create", "Players", null, new { style = "color:white" })</a></td>
                <td style="padding:23px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("NOTICES", "Notices", "Admins", null, new { style = "color:white" })</a></td>
                <td style="padding:23px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ROSTER", "Roster", "Admins", null, new { style = "color:white" })</a></td>
                 <td style="padding:23px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("AUTOEMAIL", "AutoEmail", "Admins", null, new { style = "color:white" })</a></td>
                <td style="padding:23px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("SCHEDULE", "Index", "Events", null, new { style = "color:white" })</a></td>
                <td style="padding:23px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("RESET", "Reset", "Admins", null, new { style = "color:white" })</a></td>
            </tr>
        </table>
    </div>
</div>

<div class="jumbotron">
    <h2 style="color:#00a312; text-align:center">Admin</h2>
    <p class="lead" style="margin-top:30px; color:#FF0000; text-align:center">YOUR ACCOUNT EXPIRES IN @expiryDays DAYS</p>
    <p class="lead" style="color:#FF0000; text-align:center">(@Model.ExpiryDate)</p>
</div>

<div class="row">
    <div class="col-md-4" style="width:100%">
        <h4 style="text-align:center">There are No Players logged in for the next game</h4>

        <div style="text-align:center; margin-top: 60px;">
            <a>Email Active Players</a>
            <span style="margin-left: 20px; margin-right:20px;">|</span>
            <a>Email Everyone</a>
            <span style="margin-left: 20px; margin-right:20px;">|</span>
            <a>Email Inactive Players</a>
        </div>

        <div style="margin-top: 60px">
            <table border="1" style="margin:auto; border-width:4px; border-color:blue;">
                <tr>
                    <td style="padding:20px"><button type="button" style="border-width:1px; border-color:blue; padding-bottom:20px">GAME STATUS</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
