@{
    ViewBag.Title = "Roster";
    List<SelectListItem> listItemSpare = new List<SelectListItem>();
    List<SelectListItem> listItemMax = new List<SelectListItem>();

    listItemSpare.Add(new SelectListItem
    {
        Text = "Never",
        Value = "Never",
        Selected = true
    });
    listItemSpare.Add(new SelectListItem
    {
        Text = "On Game Day",
        Value = "OnGameDay"
    });
    listItemSpare.Add(new SelectListItem
    {
        Text = "1 Day prior",
        Value = "OneDay"
    });
    listItemSpare.Add(new SelectListItem
    {
        Text = "2 Days prior",
        Value = "TwoDays"
    });
    listItemSpare.Add(new SelectListItem
    {
        Text = "3 Days prior",
        Value = "ThreeDay"
    });
    listItemSpare.Add(new SelectListItem
    {
        Text = "Always",
        Value = "Always"
    });

    bool selected = false;
    for (int i = 0; i < 500; i++)
    {
        if (!selected)
        {
            listItemMax.Add(new SelectListItem
            {
                Text = string.Format("{0}", @i),
                Value = string.Format("{0}", @i),
                Selected = true
            });
            selected = true;
        }
        else
        {
            listItemMax.Add(new SelectListItem
            {
                Text = string.Format("{0}", @i),
                Value = string.Format("{0}", @i),
            });
        }
    }



}

<div style="width:100%; background-color:#1e1e1e;">
    <div>
        <table style="margin-left:auto; margin-right:auto">
            <tr>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ADMIN", "Home", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("SYSTEM", "System", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("EDIT PLAYER", "Index", "Players", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ADD PLAYER", "Create", "Players", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("NOTICES", "Notices", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ROSTER", "Roster", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("AUTOEMAIL", "AutoEmail", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("SCHEDULE", "Index", "Events", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("RESET", "Reset", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
            </tr>
        </table>
    </div>
</div>
<section class="system_roster_header" style="text-align:center">
    <div class="system_roster_content_wrapper">
        <hgroup class="title">
            <h1 style="color:#000000"><b><%: Title %></b></h1>
            <h2 style="color:#000000"><b>System Roster Configuration</b></h2>
        </hgroup>
        <div style="margin:0 auto; text-align:center;">
            @using (Html.BeginForm("RemoveReplacePlayer", "Admin"))
            {
                <input type="submit" value="Remove/Replace Player from Playing List" />
            }
            <br />
            @using (Html.BeginForm("History", "Admin"))
            {
                <input type="submit" value="View History of Game Rosters" />
            }
            <br />
            @using (Html.BeginForm("SetupLines", "Admin"))
            {
                <input type="submit" value="Setup Lines and Print" />
            }
        </div>
    </div>
</section>

<div id="system_roster_wrapper" style="width:900px;margin:0 auto;">
    <div id="system_roster_left_column" style="width:300px;align-text:center; float:left;">
        @using (Html.BeginForm("Temp", "Admin"))
        {
            <h3>Spares can Login:</h3>
            <br />
            @Html.DropDownList("system_roster_dd_spare", new SelectList(listItemSpare, "Value", "Text"))
            <br />
            <br />
            <input type="submit" value="Enter" />
            <br />
            <p>Spares names are not displayed on the main page until the system allows them to login.</p>
        }
    </div>
    <div id="system_roster_center_column" style="width:300px;align-text:center;float:left;">
        @using (Html.BeginForm("Temp", "Admin"))
        {
            <h3>Newcomers can Login:</h3>
            <br />
            @Html.RadioButton("Newcomer", "Never")<span>Never</span>
            @Html.RadioButton("Newcomer", "Themselves")<span>Themselves</span>
            <br />
            <br />
            <input type="submit" value="Update" />
            <br />
            <p>
                This function allows your players to login new players(not on your roster) for
                the next game without involving you but you must edit their profile to add the
                email address.
            </p>
        }
    </div>
    <div id="system_roster_right_column" style="width:300px;align-text:center;float:left;">
        @using (Html.BeginForm("Temp", "Admin"))
        {
            <h3>Maximum Players:</h3>
            <br />
            <p>
                Your system will not allow others to login once the Maximum number of players
                has been reached.  The list of those NOT PLAYING will not be displayed at
                this time.
            </p>
            @Html.DropDownList("system_roster_dd_maximum", new SelectList(@listItemMax, "Value", "Text"))
            <br />
            <br />
            <input type="submit" value="Update" />
            <br />
            <p>
                Change the setting to "0" if you wish to NOT use the player login functionality,
                but still display the Game Date/Time and Announcements.
            </p>
        }
    </div>
</div>
<br />
<br />
<div style="clear:both; text-align:center" />
<h2><a style="text-align:center;" href="temp@gmail.com">HELP</a></h2>
<br />
<br />
<div id="system_roster_footer" style="width:500px;margin:0 auto;">
    <div style="width:250px;float:left;">
        <asp:Button id="system_roster_btn_status" runat="server" Text="GAME STATUS" />
    </div>
    <div style="width:250px;float:right;">
        <asp:Button id="system_roster_btn_main" runat="server" Text="ADMIN Main" />
    </div>
</div>