@{
    ViewBag.Title = "System";
}

<div style="width:100%; background-color:#1e1e1e;">
    <div>
        <table style="margin-left:auto; margin-right:auto">
            <tr>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("GAME STATUS", "Home", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("SYSTEM", "System", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("EDIT PLAYER", "Index", "Players", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ADD PLAYER", "Create", "Players", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("NOTICES", "Notices", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ROSTER", "Roster", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("AUTOEMAIL", "AutoEmail", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("SCHEDULE", "Index", "Events", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("RESET", "Reset", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
            </tr>
        </table>
    </div>
</div>


<div>
    <div style="text-align:center">
        <hgroup class="title">
            <h1 style="color:#000000"><b>System Info</b></h1>
        </hgroup>
    </div>

    <div style="width:380px; background-color:#96A5B3; margin-left:auto; margin-right:auto;
                padding-left: 25px; border:4px double; height:250px">
        <br />
        <div>
            <div style=" width:25%; float:left; padding-left: 25px; ">
                <label>Admin Email:</label>
                <label>Team Name:</label>
                <label>Team Logo:</label>
            </div>
            <div style=" width:60%; float:left; padding-left: 25px; ">
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>
        </div>
        <div>
            <div style=" width:25%; float:left; padding-left: 25px; ">
                <br /><br /><label>Header: </label>
            </div>
            <div style=" width:60%; float:left; padding-left: 25px; ">
                <form style="float:left" action="">
                    <input type="radio" name="header" value="Team Name Only" />Team Name only<br />
                    <input type="radio" name="header" value="Team Logo Only" />Team Logo only<br />
                    <input type="radio" name="header" value="Name Over Logo" />Team Name above logo<br />
                    <input type="radio" name="header" value="Logo Over Name" />Team Logo above Name<br />
                    <input type="radio" name="header" value="No Logo or Name" />No Team Logo or Name<br />
                </form>
            </div>
        </div>
        <br />
        <br />
        <br />
        <div>
            <div style=" width:25%; float:left; padding-left: 25px; ">
                <label>Display Next Game Date</label>
            </div>
            <div style=" width:60%; float:left; padding-left: 25px; ">
                <select>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <br /><br />
                <input type="submit" value="Edit" />
            </div>
        </div>
    </div><br />
    <div style="width:50%; background-color:#96A5B3; margin-left:auto; margin-right:auto;
                padding: 20px; text-align:center; border:4px double; height:65px">
        <div style="float:left; padding-left:30px">
            <label>New Password: </label><br />
            <label>New Password Again:</label>
        </div>
        <div>
            <input type="text" /><br />
            <input type="text" /><br />
            <br />
            <input type="submit" value="Edit" />
        </div>
    </div><br />

    <div style="width:400px; margin-left:auto; margin-right:auto; padding-left:40px">
        <div style="border:4px double; height:50px; float:left; background-color:#96A5B3
                ;padding:25px">
            <input type="submit" value="View LOGFILE" />
        </div>
        <div style="border:4px double; height:50px; float:left; background-color:#96A5B3
                ;padding:25px">
            <input type="submit" value="Delete LOGFILE copy" />
        </div>
    </div><br />

    <div style="width:70%; background-color:#96A5B3; margin-left:auto; margin-right:auto; margin-top:100px;
                padding: 20px; border:4px double; text-align:center">
        <p style="text-align:initial">
            If the logged in player count is not in synch with the actual number of players logged in
            for the next game, this function will bring them back in synch
        </p>
        <input type="submit" value="Synchronize Player Count" />
    </div><br />
    <div style="width:70%; background-color:#96A5B3; margin-left:auto; margin-right:auto;
                padding: 20px; border:4px double; text-align:center">
        <p style="text-align:initial">
            If the roster is being displayed as 2 teams and you wish to now display all
            the players on 1 list, this function will move all the players to one team, displayed on one list.
            There is no undo for this. To go back to 2 teams, simply edit each player's profile and change their team.
        </p>
        <input type="submit" value="Move All Players to One List" />
    </div><br /><br />
    <div style="width:45%; margin-left:auto; margin-right:auto; text-align:center; margin-bottom:100px">
        <a href="#" style="text-decoration:underline; font-weight:bold; font-size:large">HELP</a><br />
    </div><br />
</div>
