@model GameLogin.Models.Player

@{
    ViewBag.Title = "Create";
}

<div style="width:100%; background-color:#1e1e1e;">
    <div>
        <table style="margin-left:auto; margin-right:auto">
            <tr>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ADMIN", "Home", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("SYSTEM", "System", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("EDIT PLAYER", "Index", "Players", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ADD PLAYER", "Create", "Players", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("NOTICES", "Notices", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("ROSTER", "Roster", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("AUTOEMAIL", "AutoEmail", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("SCHEDULE", "Index", "Events", null, new { style = "color:white; padding:23px" })</a></td>
                <td style="padding:8px; width:130px; cursor: pointer;" onmouseout="this.style.background='#1e1e1e'" onmouseover="this.style.background='#494949'"><a style="text-decoration:none">@Html.ActionLink("RESET", "Reset", "Admins", null, new { style = "color:white; padding:23px" })</a></td>
            </tr>
        </table>
    </div>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Player</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhonePrimary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhonePrimary)
            @Html.ValidationMessageFor(model => model.PhonePrimary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneSecondary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneSecondary)
            @Html.ValidationMessageFor(model => model.PhoneSecondary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneTertiary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneTertiary)
            @Html.ValidationMessageFor(model => model.PhoneTertiary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeTeam)
            @Html.ValidationMessageFor(model => model.HomeTeam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Regular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Regular)
            @Html.ValidationMessageFor(model => model.Regular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AutoLogin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AutoLogin)
            @Html.ValidationMessageFor(model => model.AutoLogin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastGame)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastGame)
            @Html.ValidationMessageFor(model => model.LastGame)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
