@model GameLogin.Models.Player

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Player</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhonePrimary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhonePrimary)
            @Html.ValidationMessageFor(model => model.PhonePrimary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneSecondary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneSecondary)
            @Html.ValidationMessageFor(model => model.PhoneSecondary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneTertiary)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneTertiary)
            @Html.ValidationMessageFor(model => model.PhoneTertiary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomeTeam)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomeTeam)
            @Html.ValidationMessageFor(model => model.HomeTeam)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Regular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Regular)
            @Html.ValidationMessageFor(model => model.Regular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AutoLogin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AutoLogin)
            @Html.ValidationMessageFor(model => model.AutoLogin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastGame)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastGame)
            @Html.ValidationMessageFor(model => model.LastGame)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
